*{
   box-sizing: border-box;
   margin: 0px; 
}
body{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    background: linear-gradient(#e66465, #9198e5);
}
#display, #buttons{
    border: 2px solid black;
    background-color: black;
    width: 400px;
}
#display{
    height: 175px;
    width: 500px;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: white;
}
#buttons{
    background-color: rgb(247, 247, 247);
    height: 500px;
    width: 500px;
    border-radius: 0px 0px 50px 50px;
    gap: 10px;
    padding: 10px;
    display: grid;
    border-top: none;
    grid-template-columns: 5;
    grid-template-rows: 4;
    grid-template-areas: 
    'num7 num8 num9 sum subtr'
    'num4 num5 num6 multi divide'
    'num1 num2 num3 power del'
    'num0 dot equal ac ac'
    ;
}
#buttons >div{
    background-color: gainsboro;
    border-radius: 50px 25px;
    border: 1px solid rgb(214, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    transition: all ease-out 4s;
}
#buttons >div.operand:hover{
    cursor: pointer;
    background-color: wheat;
    font-weight: 900;
    color: chocolate;
    transition: all 2s;
}

#num1{ grid-area: num1;}
#num2{ grid-area: num2;}
#num3 {grid-area: num3;}
#num4 {grid-area: num4;}
#num5{ grid-area: num5;}
#num6{ grid-area: num6;}
#num7{ grid-area: num7;}
#num8 {grid-area: num8;}
#num9 {grid: num9;}
#num0 {grid-area: num0;}
#sum{ grid-area: sum;}
#subtract { grid-area: subtr;}
#multiply { grid-area: multi;}
#divide{ grid-area: divide;}
#power{grid-area: power;}
#dot{grid-area: dot;}
#equalBtn{ grid-area: equal;}
#deleteBtn{ grid-area: del;}
#clearBtn{ grid-area: ac;}
